<app-all-template-client></app-all-template-client>
<div class="st-content">
    <div class="st-page-heading" style="background-image: url('/assets/frontTemplate/img/hero-bg2.jpg')">

        <div class="container">
          <div class="st-page-heading-in text-center">
            <h1 class="st-page-heading-title">{{ thread.titleThread }}</h1>
            <div class="st-post-label">
              <span>By <a href="#">Jhon Doe</a></span>
              <span>{{ thread.createdAt | date:'yyyy-MM-dd - HH:mm:ss' }}</span>
            </div>
          </div>
        </div>
      </div><!-- .st-page-heading -->


    <div class="container">
        <div class="mt-5 mb-5" *ngIf="thread">
            <h2>{{ thread.questionThread }}</h2>
        </div>

        <div *ngIf="!thread">
            <p>Loading thread details...</p>
        </div>

        <!--test-->
        <div class="row">
            <div class="col-lg-8">
                <div class="comments-area">
                    <div class="comment-list-outer">
                        <h2 class="comments-title">Answers</h2>
                        <ol class="comment-list">
                          <ng-container *ngIf="answers.length > 0; else noAnswers">
                            <div *ngIf="showSuccessAlertUpdate" class="alert alert-success" role="alert">
                              Answer updated successfully!
                            </div>
                            <div *ngIf="showErrorsAlertUpdate" class="alert alert-danger" role="alert">
                              Error updating answer.
                            </div>
                            <div *ngFor="let answer of answers">
                              <li class="comment">
                                <div class="comment-body">
                                  <div class="row">

                                  <div class="col-lg-8">
                                  <div class="comment-meta">
                                    <div class="comment-author">
                                      <img src="/assets/frontTemplate/img/comment1.jpg" alt="comment1" class="avatar">
                                      <span class="nm"><a href="#">Hannibal Lecter</a></span>
                                    </div><!-- .comment-author -->
                                    <div class="comment-metadata">
                                      <a href="#"><span>{{ answer.createdAt | date:'yyyy-MM-dd - HH:mm:ss' }}</span></a>
                                    </div><!-- .comment-metadata -->
                                  </div><!-- .comment-meta -->

                                  <div class="comment-content">
                                    <p>{{ answer.answer }}</p>
                                  </div>
                                  <div class="reply"><a href="#" class="comment-reply-link">Reply</a></div>
                                </div>
                                
                                <div class="col-lg-2">
                                  <button class="btn-info mr-2 rounded" (click)="currentAnswer = answer; openModal(answer)"><i class="fas fa-edit"></i></button>                                  <!-- Modal for reply comment--> 

                                  <button class="btn-danger rounded" (click)="deleteAnswer(answer.idAnswer)" ><i class="fas fa-trash"></i></button>
                                </div>
                                </div>
                                </div>
                              </li>
                            </div>
                          </ng-container>
                          <ng-template #noAnswers>
                            <p>No answers found.</p>
                          </ng-template>
                        </ol><!-- .comment-list -->
                      </div><!-- .comment-list-outer -->
                    <div class="comment-respond">
                        <h2 class="comment-reply-title">Add your answer</h2>
                        <div *ngIf="showSuccessAlert" class="alert alert-success" role="alert">
                          Answer added successfully!
                        </div>
                        <div *ngIf="showErrorAlert" class="alert alert-danger" role="alert">
                          Error adding answer.
                        </div>
                        <form method="post" class="comment-form" (ngSubmit)="addAnswer(thread.idThread)">
                            <p class="comment-form-comment">
                                <textarea name="answer" cols="40" rows="5" placeholder="Write here...*"
                                    required="" [(ngModel)]="answer.answer"></textarea>
                            </p>
                            <p class="form-submit">
                                <button type="submit" class="st-btn st-style1 st-color1 st-size-medium">Send
                                    Answer</button>
                            </p>
                        </form>
                    </div><!-- .comment-respond -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="updateAnswerModal" tabindex="-1" role="dialog" aria-labelledby="updateAnswerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form (ngSubmit)="updateAnswer(answerToUpdate.idAnswer,thread.idThread)" #updateAnswerForm="ngForm">
        <div class="modal-header">
          <h5 class="modal-title" id="updateAnswerModalLabel">Update Answer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="answer">Answer</label>
            <textarea class="form-control" id="answer" name="answer" required [(ngModel)]="answerToUpdate.answer"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>







