<app-all-template-client></app-all-template-client>

 <!-- Start Service Section -->
 <section id="appointment" class="st-shape-wrap st-gray-bg">
  <div class="st-shape4">
    
  </div>
  <div class="st-shape6">
    <img src="assets/img/shape/contact-shape3.svg" alt="shape3">
  </div>
  <div class="st-height-b120 st-height-lg-b80"></div>
  <div class="container">
    <div class="st-section-heading st-style1">
      <h2 class="st-section-heading-title">Calendar</h2>
      <div class="st-seperator">
        <div class="st-seperator-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s"></div>
        <div class="st-seperator-right wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s"></div>
      </div>
      <div class="st-section-heading-subtitle"></div>
    </div>
    <div class="st-height-b40 st-height-lg-b40"></div>
  </div>
 


<div class="container">
    <div class="row">
      <div class="date">
      <h2>
        Mai 3, 2023
      </h2>
      <h1>
        Today
      </h1>
    </div>
      <div class="add-task">
       
        <a  href="/Appointment" class="st-btn st-style1 st-color2 st-smooth-move">+ Add Another Appointment</a>
  
      </div>
    </div>
    <div class="calendar">
      <div class="row weekdays">
        <div class="day">Sun</div>
        <div class="day">Mon</div>
        <div class="day Current">Tue</div>
        <div class="day">Wed</div>
        <div class="day">Thu</div>
        <div class="day">Fri</div>
        
      </div>
      <div class="row">
        <div class="st-hero-btn">
          <a href="/Appointment/show/details" class="st-btn st-style1 st-color1 st-smooth-move">01</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">02</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">03</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">04</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">05</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">06</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">07</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">08</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">09</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">10</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">11</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">12</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">13</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">14</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">15</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">16</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">17</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">18</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">19</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">20</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">21</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">22</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">23</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">24</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">25</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">26</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">27</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">28</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">29</a>
        </div>
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">30</a>
        </div>
      </div>
      <div class="row">
        <div class="st-hero-btn">
          <a href="/Appointment/show" class="st-btn st-style1 st-color1 st-smooth-move">31</a>
        </div>
        <div class="day next-month">1</div>
        <div class="day next-month">2</div>
        <div class="day next-month">3</div>
        <div class="day next-month">4</div>
        <div class="day next-month">5</div>
      </div>
    </div>
    
  </div>
  <router-outlet></router-outlet>